.shopping-list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%; /* Резиновая верстка */
}

.shopping-item {
	margin-bottom: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #e8f5e9; /* Светло-зеленый */
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
	transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Плавные изменения */
		cursor: move;
}

.shopping-item:hover {
	background-color: #dcedc8; /* Более насыщенный светло-зеленый при наведении */
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Тень при наведении */
}

.delete-button {
	background-color: #f2e9e4; /* Почти белый */
	color: #264653; /* Темно-зеленый */
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
	transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Плавные изменения */
}

.delete-button:hover {
	background-color: #d0d0d0;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3); /* Тень при наведении */
}

.edit-input {
	border: none;
	background: none;
	outline: none;
	width: 80%;
	font-size: 1.1rem; /* Изменено! Увеличен шрифт */
}

.edit-input:focus {
	box-shadow: 0px 0px 0px 3px #7fcdcd; /* Изменено! Тень при фокусе */
	border-radius: 5px; /* Добавлено! */
}